# Environnements virtuels
venv/
.venv/

# Caches Python
__pycache__/
*.pyc

# Config locale
.env

# Notebooks
.ipynb_checkpoints/

# Artefacts générés
artifacts/*
!artifacts/.gitkeep
!artifacts/feature_columns.json
!artifacts/reference_sample.csv
!artifacts/model.pkl
!artifacts/metrics.txt

# MLflow tracking
mlruns/
mlflow.db

# Airflow
airflow_home/logs/
airflow_home/airflow.db
airflow_home/webserver_config.py

# Logs API
logs/*.log
logs/drift_reports/